@media only screen and (min-width: 1080px) {
	/* Content */
	.primary-content .content .align-right {
  		margin-right: -3.2em;
  	}
	.primary-content .content .align-left {
		margin-left: -3.2em;
	}
	.site-branding .site-logo {
		height: 82px;
		padding: .72em;
	}
	.site-header .search-toggle a {
		font-size: 3.4em;
	}
}
