.page {
	min-height: 100vh;
}

.page main {
 	width: 100%;
	margin: 0 auto;
	padding-bottom: 1.4em;
}

/* Decorative footer-tomato, for decorative purposes */
.page-wrapper:after {
	font-family: SPnet-Icons;
	content: 'T';
	line-height: 1;
	display: block;
	height: 26px;
	color: #f60000;
	overflow: hidden;
	width: 100%;
	text-align: center;
	font-size: 52px;
}

.front .node-teaser {
	border-bottom: 1px solid #aaa;
}

/* Overview: Element containing a set of articles */
.page .overview {
	background: #eee;
	overflow: hidden;
	padding: 1em 0;
}

.page .overview article {
	max-width: 960px;
	margin: 0 auto 1em auto;
	background: #fff;
}


@media only screen and (min-width: 1080px) {
    .primary-content .content img.align-right {
    	margin-right: -2.1em;
	}
	 .primary-content .content img.align-left {
    	margin-left: -2.1em;
	}
}