@font-face {
	font-family: 'SPnet-icons';
	src:url('SPnet-icons.eot?xpgs1d');
	src:url('SPnet-icons.eot?#iefixxpgs1d') format('embedded-opentype'),
		url('SPnet-icons.woff?xpgs1d') format('woff'),
		url('SPnet-icons.ttf?xpgs1d') format('truetype'),
		url('SPnet-icons.svg?xpgs1d#SPnet-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}