/* BOOKS */
.pane-node-book-nav {
    padding: 1rem;
    margin-bottom: 1rem;
    background: #F1F1F1;
}

.book-navigation ul {
    margin: 0;
    padding-left: 1rem;
    color: $color1;
}

.pane-node-book-nav .pane-content li a {
    font-family: $font-middle;
    color: #000;
    display: block;
    text-decoration: none;
    &:hover {
        color: $color1;
    }
}
.pane-node-book-nav .pane-content li a.active {
    color: $color1;
}


// MEDIA
@media only screen and (max-width:728px) {
    // node terms ??
    .pane-node-terms .pane-content {
        padding: 0 1.4em;
    }

    .pane-node-book-nav .pane-content {
        min-width: 280px;
        float: none;
        margin: .4em;
        border: none;
    }

    .pane-node-book-nav .pane-content li {
        padding: 0;
        margin: 0;
        font-size: 1em;
    }
}
@media only screen and (min-width:768px) {
    .pane-node-book-nav {
        min-width: 280px;
        float: right;
        margin: 0 0 1rem 1rem;
    }
}

// old and unused?
.book-navigation .page-links {
    border-top: 2px solid #EEE;
    border-bottom: 2px solid #EEE;
    width: 100%;
    padding: .4em;
}

.book-navigation .page-links a {
    display: inline-block;
    width: 44%;
    padding: 1%;
    margin: 0;
    color: $color1;
    padding: .4em;
    text-decoration: none;
    font-weight: bold;
    font-size: .9em;
}

.book-navigation .page-links a:hover {
    background: $color1;
    color: #FFF;
}

.book-navigation .page-links .page-up {
    width: 5%;
    text-align: center;
}
.book-navigation .page-links .page-next {
    float: right;
    text-align: right;
}