/* BREADCRUMBS */
.breadcrumb {
	font-size: .9rem;
	margin-bottom: 1rem;
}

.breadcrumb ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: none;
}
.breadcrumb li:before {
	content: ' > ';
	color: #aaa;
}
.breadcrumb li:first-of-type:before {
	content: ''
}
.breadcrumb li {
	 display: inline-block;
}

.breadcrumb li a {
	 display: inline-block;
}
.breadcrumb a {
	margin-right: .4em;
	color: #aaa;
	text-decoration: none;
}
