/* LEGACY CONTENT */
//temp fix until grid
.primary-content header h1.title,
main.content {
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
}
// END SHAME
.content .block,
.content .node-teaser {
	//max-width: 960px;
	padding: 0;
	margin: 0 auto;
}

.content header {
	margin: 2em 0 0 0;
}

.content header .title {
	//max-width: 960px;
	margin: 0 auto;
	//padding-left: 1.4rem;
	//padding-right: 1.4rem;
}

.content table td {
	padding: .72em;
	text-align: left;
}

.content table thead {
	background: #eee;
}

.block header .title {
	padding: 0;
}

.content .title a {
	text-decoration: none;
	color: inherit;
}

/* Token input */
.content ul.token-input-list {
  max-width: auto;
  margin: 0;
  padding: 0;
}

.content ul.token-input-list li:before {
  width: 0 !important;
  content: '' !important;
}

.content iframe.gmap {
  border: 0;
  pointer-event: none !important;
}

// LINKS
.content a {
  color: $color1;
  &:hover {
	border-bottom: 2px solid $color1;
  }
}

/* Body sections in Primary content*/
.primary-content .content p,
.primary-content .content ul,
.primary-content .content ol,
.primary-content .content h1,
.primary-content .content h2,
.primary-content .content h3,
.primary-content .content h4,
.primary-content .content h5,
.primary-content .content h6,
.primary-content .content blockquote,
.primary-content .content form,
.primary-content .content table,
.primary-content .content pre,
.primary-content .content code,
.primary-content .content dl,
.primary-content .content dt,
.primary-content .content .meta {
	//display: block;
	//max-width: 960px;
	//margin-left: auto;
	//margin-right: auto;
	//padding-left: 1.4rem;
	//padding-right: 1.4rem;
}

.primary-content .content .field,
.primary-content .content blockquote {
	//display: block;
	//max-width: 960px;
	//margin: auto;
	//padding: 0;
}

.primary-content .block-system,
.primary-content .article-content .body {
	max-width: 100%;
}

.primary-content header .title {
	//font-size: 2.6em;
	//margin: 0 auto;
	//padding: .4em;
	//max-width: 960px;
}

.content .meta {
	color: #aaa;
}

/* Body sections in Secondary content*/
.secondary-content .content p,
.secondary-content .content ul,
.secondary-content .content ol,
.secondary-content .content h1,
.secondary-content .content h2,
.secondary-content .content h3,
.secondary-content .content h4,
.secondary-content .content h5,
.secondary-content .content h6,
.secondary-content .content blockquote,
.secondary-content .content form,
.secondary-content .content table,
.secondary-content .content pre,
.secondary-content .content code,
.secondary-content .content dl,
.secondary-content .content dt,
.secondary-content .content .meta,
.secondary-content .title {
	//display: block;
	//max-width: 960px;
	//margin-left: auto;
	//margin-right: auto;
	//padding-left: 1.4rem;
	//padding-right: 1.4rem;
}
