/* LEGACY FOOTER */
.site-footer {
  text-align: center;
  color: #AAA;
}

.site-footer .block-menu {
  overflow: hidden;
  background: $color1;
  margin-bottom: 3rem;
}

.site-footer .block-menu a {
  color: #FFF;
}

.site-footer .block-menu .title {
  display: none;
}

.site-footer .block-menu ul {
  list-style: none;
}

.site-footer .block-menu li {
  display: inline-block;
  padding: .2em;
}

.site-footer .block-menu li a {
  display: inline-block;
  padding: .4rem 1rem;
  font-size: .9rem;
  text-decoration: none;
  border: 1px solid #FFF;
  text-transform: uppercase;
  font-family: $font-middle;
}

.site-footer .block-menu li a:hover {
  background: #000;
  border-color: #000;
}

.site-footer .block-menu:nth-of-type(2n) {
  background: none;
}

.site-footer .block-menu:nth-of-type(2n) a {
  border: none;
  color: #000;
  padding: 0 .14rem;
  border-bottom: 2px solid #000;
}

.site-footer .block-menu:nth-of-type(2n) a:hover {
  color: $color1;
  border-color: $color1;
  background: none;
}

footer .copyright {
  padding: .72rem 1rem;
  margin: 1em auto;
  border: 1px solid #AAA;
  color: #888;
  font-size: .8rem;
  max-width: 320px;
}
