/* LEGACY FORMS */
.primary-content fieldset {
	padding: 1rem;
	margin: 0 0 1rem 0;
}

.primary-content legend {
	padding: .4em .72em;
    font-family: $font-strong;
}


.form-item {
	margin-bottom: 1rem;
}
.form-item label {
	font-weight: bold;
}
.form-item input {
	outline: none;
	max-width: 100%;
}
.form-item .form-required {
	color: $color1;
}
.form-item .form-text {
	padding: .4em;
	background: #eee;
	border: 1px solid #ddd;
}
.form-item .description {
	color: #aaa;
	font-size: .9em;
	padding: .4em;
}
.form-item:hover .description {
	color: #333;
}


.form-submit {
  	font-family: $font-header;
  	font-weight: normal;
	text-transform: uppercase;
	background: $color1;
	margin-right: .4em;
	padding: .4em .72em;
	color: #fff;
	border: 1px solid #d00;
	&:hover {
		background: #000;
		color: #fff;
		border: 1px solid #000;
	}
}


// Errors
.form-item .form-text.error {
	background: #f8d7da;
	border: 2px solid $color1;
}


// Webform module elements
.content .webform-component-fieldset {
  display: inline-block;
  border: none;
  padding: 0;
}
.content .webform-component-fieldset legend {
  padding: .4em .4em .4em 0;
  margin-bottom: 1em;
  font-family: $font-middle;
  font-size: 1.14em;
  color: #333;
  border-bottom: 2px solid #ddd;
  width: 100%;
}
.content .webform-component-fieldset .form-item .form-text {
  float: right;
}
.webform-component-fieldset .webform-component-textfield  {
  padding: 1em 0;
  display: block;
}
.content .webform-component-fieldset .form-item label {
  padding-right: .4em;
}
.content .webform-component-fieldset .webform-container-inline {
  display: inline-block;
}
.content form .grippie {
  display: none;
}