/* DRUPAL MESSAGES */

// QUICKFIX
// membform module uses an incorrect class to display inline erors: .messages.error
// correct form is .messages for the wrappers and .message.error (without s) for the error message
// needs to be fixed later
.messages.status {
	background: #8f7;
	p:before {
		content: '\e606'; // success icon
		font-family: $sp-icons;
		margin-right: .5rem;
	}
}
.messages.success {
	background: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
	padding: .5rem 1rem;
	&:before {
		content: '\e606'; // success icon
		font-family: $sp-icons;
		margin-right: .5rem;
	}
}
.messages.info {
	background: #d9edf7;
	border-color: #bce8f1;
	color: #8a6d3b;
	padding: .5rem 1rem;
	&:before {
		content: '\e604'; // info icon
		font-family: $sp-icons;
		margin-right: .5rem;
	}
}
.messages.warning {
	background: #fcf8e3;
	border-color: #faebcc;
	color: #8a6d3b;
	padding: .5rem 1rem;
	&:before {
		content: '\e604'; // info icon
		font-family: $sp-icons;
		margin-right: .5rem;
	}
}
.messages.error {
	background: #f8d7da;
	border-color: #f5c6cb;
	color: #721c24;
	padding: .5rem 1rem;
	&:before {
		content: '\e605'; // cross icon
		font-family: $sp-icons;
		margin-right: .5rem;
	}
}
// remove above part after fixing memberform module
// END SHAME


.messages {
	margin-bottom: 1rem;
	border: 1px solid;
}
.messages .message {
	font-size: .9rem;
	padding: .5rem 1rem;
	&:before {
		font-family: 'SPnet-Icons';
		font-size: 1.14em;
		display: inline-block;
	}
}
.messages li {
	margin-bottom: .5rem;
}

.message .status {
	background: #8f7;
	p:before {
		content: '\e606'; // success icon
		font-family: $sp-icons;
		margin-right: .5rem;
	}
}
.message .success {
	background: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
	&:before {
		content: '\e606'; // success icon
		font-family: $sp-icons;
		margin-right: .5rem;
	}
}
.message .info {
	background: #d9edf7;
	border-color: #bce8f1;
	color: #8a6d3b;
	&:before {
		content: '\e604'; // info icon
		font-family: $sp-icons;
		margin-right: .5rem;
	}
}
.message .warning {
	background: #fcf8e3;
	border-color: #faebcc;
	color: #8a6d3b;
	&:before {
		content: '\e604'; // info icon
		font-family: $sp-icons;
		margin-right: .5rem;
	}
}
.message .error {
	background: #f8d7da;
	border-color: #f5c6cb;
	color: #721c24;
	&:before {
		content: '\e605'; // cross icon
		font-family: $sp-icons;
		margin-right: .5rem;
	}
}