/* DRUPAL MESSAGES */
.messages {
	margin-bottom: 1rem;
	//border: 1px solid;
}
.messages .message {
	font-size: .9rem;
	padding: .5rem 1rem;
	&:before {
		font-family: 'SPnet-Icons';
		font-size: 1.14em;
		display: inline-block;
	}
}
.messages li {
	margin-bottom: .5rem;
}
// Quickfix: Drupal core. inline error modules and custom modules have an inconsistent way of using these classes
// Provided all possibilities as fix...  ¯\_(ツ)_/¯
.messages .status,
.messages.status,
.message .status
.message.status {
	padding: .5rem;
	background: #dff0d8;
	border: 1px solid #3c763d;
	color: #3c763d;
	p:before {
		content: '\e606'; // success icon
		font-family: $sp-icons;
		margin-right: .5rem;
	}
}
.messages .success,
.messages.success,
.message .success,
.message.succes {
	padding: .5rem;
	background: #dff0d8;
	border:1px solid #3c763d;
	color: #3c763d;
	&:before {
		content: '\e606'; // success icon
		font-family: $sp-icons;
		margin-right: .5rem;
	}
}
.messages .info,
.messages.info,
.message .info,
.message.info {
	padding: .5rem;
	background: #d9edf7;
	border:1px solid #8a6d3b;
	color: #8a6d3b;
	&:before {
		content: '\e604'; // info icon
		font-family: $sp-icons;
		margin-right: .5rem;
	}
}
.messages .warning,
.messages.warning,
.message .warning,
.message.warning {
	padding: .5rem;
	background: #fcf8e3;
	border:1px solid #8a6d3b;
	color: #8a6d3b;
	&:before {
		content: '\e604'; // info icon
		font-family: $sp-icons;
		margin-right: .5rem;
	}
}
.messages .error,
.messages.error,
.message .error,
.message.error {
	padding: .5rem;
	background: #f8d7da;
	border:1px solid #721c24;
	color: #721c24;
	&:before {
		content: '\e605'; // cross icon
		font-family: $sp-icons;
		margin-right: .5rem;
	}
}