/* LEGACY NAVIGATION */
.site-navigation {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	padding: 0;
}

.site-navigation .title {
	display: none;
}

.site-navigation ul {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
	list-style: none;
}

.site-navigation li {
	text-transform: uppercase;
	font-family: $font-header;
	font-weight: normal;
	font-style: normal;
}

.site-navigation li a {
	padding: .72em .4em;
	color: $color1;
	font-size: 1.4em;
	text-decoration: none;
}

.site-navigation li.active-trail a {
	color: #aaa;
	background: #fff;
}

.site-navigation li a:hover {
	color: #222;
	background: #fff;
	border-bottom: none;
}
// hidden menu ??
.site-navigation li ul {
  display: none; 
  position: absolute;
  bottom: -1em;
  left: 0;
  padding: 0 1em;
  width: 100%;
  margin: 0 auto;
}

.site-navigation li:hover ul {
  display: block;
}

.site-navigation li ul li {
  padding: 0 0.6em;
}

.site-navigation li ul li a { //inception here :D
  font-size: 1.1em;
  color: #444;
  padding: 0;
}

/* Highlight content navigation (menus) */
.highlight-content .block-menu .title {
	display: none;
}

.page .highlight-content .block-menu {
	max-width: 100%;
	border: none;
	margin: 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.highlight-content .block-menu ul {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
	padding: .1em;
}

.highlight-content .block-menu li {
	display: inline-block;
	font-family: $font-middle;
	text-transform: uppercase;
}

.highlight-content .block-menu li a {
	display: inline-block;
	padding: .4em;
	border: 1px solid #ddd;
	color: #888;
	text-decoration: none;
}
