/* SPNET AANMELDEN */
.page-aanmelden .primary-container {
    max-width: 960px;
}
.page-aanmelden .breadcrumb {
    display: none;
}
.page-aanmelden-lid .site-logo a {
    display: block;
    width: 130px; //cuts off spnet logo
    height: 70px;
    overflow: hidden;
}
@media only screen and (max-width: 768px) {
    .page-aanmelden .site-logo a {
      height: 32px !important;
      width: 60px !important;
    }
}
@media only screen and (max-width: 1080px) {
    .page-aanmelden .site-logo a {
      height: 59px !important;
      width: 110px !important;
    }
}
// quickfix: change red color >> yellow
.page-aanmelden .messages .error,
.page-aanmelden .messages.error,
.page-aanmelden .message .error,
.page-aanmelden .message.error {
    background: #fcf8e3;
    border:1px solid #8a6d3b;
    color: #8a6d3b;
 }
// END SHAME

// LOCAL VARIABLE
$wrapper-width: 500px;

/* LEGACY MEMBERFORM (from module) */
/* remove important after disabling css in main theme */
.page-aanmelden .page-wrapper:after {
    background: #f1f1f1;
}
.page-aanmelden form fieldset {
    border: none;
}
.page-aanmelden .ajax-progress {
    display:none; /*removes even geduld */
}
.page-aanmelden .page {
    background: #f1f1f1;
}
.page-aanmelden .primary-content {
    padding: 3rem 0;
}
.page-aanmelden header h1 {
    background: #fff;
    text-align: left!important;
    color: #222!important;
    margin-top: 0;
}
.page-aanmelden form {
    background: #fff!important;
    padding: 0 0 3rem 0rem!important;
}
.page-aanmelden form .form_header img {
    max-width: calc(100% + 2rem);
    margin: 0 -1rem 1rem -1rem;
}
.page-aanmelden form h3 {
    font-size: 1.5rem;
    max-width: $wrapper-width; //needs a wrapper
    margin-left: auto;
    margin-right: auto;
}
.page-aanmelden form .memberform,
.page-aanmelden form p,
.page-aanmelden form table {
    max-width: $wrapper-width; //needs a wrapper
    margin-left: auto;
    margin-right: auto;
}
.page-aanmelden .form-item .form-select:focus,
.page-aanmelden .form-item .form-textarea:focus,
.page-aanmelden .form-item .form-text:focus {
    outline: none;
    box-shadow: 0 0 5px 0 #c8c8c8;
    border: 1px solid #888;
}


// EURO SIGN PREFIX CONTRIBUTIONS
#memberform_form_wrapper div.form-type-radio {
  display: inline-block;
  margin-right: 1rem;
}
#memberform_form_wrapper input[type="radio"] {
  display: none;
}
#memberform_form_wrapper label.option img {
  float: left;
  margin-right: 1rem;
}
#memberform_form_wrapper label.option span {
  vertical-align: top;
}


// MEMBERFORM NAVIGATION
.memberform-navigation {
    text-align: center;
}
.memberform-navigation .active.form-submit.form-button-disabled {
  color: #222;
}
.memberform-navigation .form-submit {
    font-family: $font-strong;
    font-weight: normal;
    text-transform: none;
    background: none;
    margin-right: 0;
    padding: 4px;
    color: #222;
    border: none; /* removes default from forms.css */
    border-bottom: 3px solid #ddd;
}
@media screen and (min-width: 870px){
    .memberform-navigation .form-submit {
         padding: 0.5rem 1rem;
    }
}
.memberform-navigation .form-submit:hover {
    border: none; /* removes default from forms.scss */
    border-bottom: 3px solid $color1;
    background: $color1;
    color: #fff!important;
}
.memberform-navigation .form-submit.active {
    border-bottom: 3px solid $color1;
}
.memberform-navigation .form-button-disabled {
    color: #ddd;
}
.memberform-navigation .form-button-disabled:hover {
    border: none;
    border-bottom: 3px solid #ddd;
    background: #fff;
    color: #ddd!important;
}


// MEMBERFORM INPUT
#memberform_form_wrapper input::placeholder {
    color: #ccc; /* should be styled in form default */
}
#memberform_form_wrapper div.form-type-radio.form-item-page-gift-select-lid-sp {
    display: block;
}
#memberform_form_wrapper .form-item-page-gift-select-lid-sp label.option {
    width: 100%;
    box-sizing: border-box;
}


// MEMBERFORM ACTION
.memberform-action {
    max-width: $wrapper-width;
    margin: 0 auto;
    padding: 0!important; /* overwrite default spnet theme */
}
.memberform-action .btn.hollow {
    background: #fff;
    color: #ec1b23;
}
.memberform-action input {
    margin-right: 1rem;
}
.btn.do-call-back {
    padding: 1rem 2rem;
    margin: 4rem 0;
    font-size: 1.4rem;
}
#memberform_form_wrapper .memberform-inform-button {
    text-align: center;
}


// MEMBERFORM CALL BACK OR CONTINUE
#edit-action,
#edit-action--2 {
    text-align: center;
    max-width: 100%;
}
.memberform-action #edit-call-back,
.memberform-action #edit-call-back--2,
.memberform-action #edit-next-page
.memberform-action #edit-next-page--2, {
    max-width: 329px;
    width: 100%;
}


// SPECIAL MOBILE VERSION
// Replaces logo for tomato
@media only screen and (max-width: 768px) {
    .page-aanmelden .primary-content {
        padding-top: 0;
    }
    .page-aanmelden .site-navigation {
        display: none;
    }
    .page-aanmelden form h3 {
        font-size: 1rem;
    }
    .page-aanmelden .site-logo a {
        height: 32px !important;
        width: 60px !important;
    }
    .page-aanmelden .memberform-navigation {
        padding: 0;
        margin: 0 0 1em 0;
    }
    .page-aanmelden .memberform-navigation .form-submit {
        margin: 2px;
        font-size: 14px;
        background: #fff;
    }
    .page-aanmelden-lid .content-header .title:before {
        content: 'T';
        font-family: $sp-icons;
        display: inline-block; 
        padding: 0;
        margin-right: .5rem;
        font-size: 1.6em;
        line-height: 0;
        vertical-align: -6px;
        color: $color1;
    }
    .page-aanmelden .site-header {
        display: none;
    }

}


// LEGACY
.page-aanmelden .content-header .title {
    color: $color1;
    text-align: center;
}
.page-aanmelden .site-navigation a {
    color: #f1f1f1;
}
.page-aanmelden .main-top-wrapper {
    display: none;
}
.page-aanmelden .spaanmelden-progress ul {
    list-style: none;
    padding: 0;
}
.page-aanmelden form .step-title {
    color: $color1;
    font-size: 1.14em;
    margin: 0;
    padding: 0;
}
.page-aanmelden form legend {
    margin: 0;
    padding: 0;
    font-family: $font-middle;
}


// CUSTOM FORM ELEMENTS
#spaanmelden-form-lid .form-item-personal-information-middlename input {
    width: 80px;
}
#edit-personal-information-gender {
    padding: .4em;
}
#spaanmelden-form-lid .form-item-personal-information-gender .form-type-radio {
    display: inline-block;
    padding: 1em;
}
#spaanmelden-form-lid .form-item-personal-information-gender .form-item label {
    width: 40%;
}
#spaanmelden-form-lid .form-item-personal-information-birthdate label {
    display: block;
    width: 960px;
}
#spaanmelden-form-lid .form-item-personal-information-birthdate .form-item {
    margin-right: .4em;
}
#spaanmelden-form-lid .form-item-personal-information-birthdate .form-item label {
    width: 75px;
    font-size: .9em;
    color: #aaa;
}
#spaanmelden-form-lid .form-item-personal-information-birthdate .form-item select {
    width: 100%;
}
#spaanmelden-form-lid [class*="form-item-personal-information-"] label {
    width: 120px;
    display: inline-block;
}
#spaanmelden-form-lid [class*="form-item-contact-"] label,
#spaanmelden-form-lid [class*="form-item-address-"] label {
    width: 172px;
    display: inline-block;
}
#spaanmelden-form-lid .form-item-personal-information-birthdate label {
    display: block;
    padding-bottom: .4em;
}
#spaanmelden-form-lid .form-item-address-zipcode input {
    width: 120px;
}
#spaanmelden-form-lid .form-item-rood-rood label {
    width: 50%;
}
#spaanmelden-form-lid .form-disabled input {
    border: 1px dashed #aaa;
    background: #fff;
}
#spaanmelden-form-lid th {
    text-align: left;
    padding-right: 1em;
    width: 180px;
}
#spaanmelden-form-lid td {
    vertical-align: top;
}