/* LEGACY MEMBERFORM (from module) */
.page-aanmelden * {
    box-sizing: border-box;
}
/* remove important after disabling css in main theme */
.page-aanmelden .page-wrapper:after {
    background: #f1f1f1;
}
.page-aanmelden form fieldset {
    border: none!important;
}
.page-aanmelden .ajax-progress {
    display:none; /*removes even geduld */
}
.page-aanmelden .page {
    background: #f1f1f1;
}
.page-aanmelden .primary-content {
    padding: 3rem 0;
}
.page-aanmelden header h1 {
    background: #fff;
    text-align: left!important;
    color: #222!important;
    padding: 1rem!important;
    margin: 0;
}
.page-aanmelden form {
    background: #fff!important;
    padding: 0 1rem 3rem 1rem!important;
}
.page-aanmelden form .form_header img {
    max-width: calc(100% + 2rem);
    margin: 0 -1rem 1rem -1rem;
}
.page-aanmelden form h3 {
    margin: 1rem auto .5rem auto;
    font-size: 1.5rem;
}
.page-aanmelden form h3,
.page-aanmelden form .memberform,
.page-aanmelden form table,
.page-aanmelden form p {
    max-width: 480px; /* 50% of maxwidth 960px */
    margin: 0 auto;
}
.page-aanmelden form table {
    text-align: left;
}
.page-aanmelden form label {
    display: block!important;
    font-size: 1rem;
    font-weight: normal;
    font-family: "HelveticaNeueLTStd-BdCn", "Helvetica Neue", Helvetica, "Roboto Sans", "Segoe UI", Arial, "Lucida Grande", sans-serif;
    letter-spacing: .3px;
}
.page-aanmelden form label.option {
    display: inline-block!important;
}
.page-aanmelden .form-select {
    padding: .5rem;
    font-family: "HelveticaNeueLTStd-Md", "Helvetica Neue", Helvetica, "Roboto Sans", "Segoe UI", Arial, "Lucida Grande", sans-serif;
    font-size: 1rem;
    background: #fafafa;
    border: 1px solid #ddd;
    width: 100%;
    text-overflow: ellipsis;
}
.page-aanmelden .form-type-date-select .form-type-select {
    margin-right: .5rem;
}
.page-aanmelden .form-item {
    padding: 1rem 0 0 0;
}
.page-aanmelden .form-item .form-text {
    max-width: 100%;
    width: 100%;
    padding: .8rem;
    background: #fafafa;
    border: 1px solid #ddd;
    color: #333;
    font-family: "HelveticaNeueLTStd-Md", "Helvetica Neue", Helvetica, "Roboto Sans", "Segoe UI", Arial, "Lucida Grande", sans-serif;
    box-sizing: border-box;
}
.page-aanmelden .form-item .form-select:focus,
.page-aanmelden .form-item .form-textarea:focus,
.page-aanmelden .form-item .form-text:focus {
    outline: none;
    box-shadow: 0 0 5px 0 #c8c8c8;
    border: 1px solid #888;
}

.page-aanmelden .messages {
    border: 1px solid;
    padding: .7rem 1rem;
    font-family: sans-serif;
    margin-top: 4px;
}
.page-aanmelden .error {
    background-color: #fff8d9;
    border-color: #ffea8e;
    color: #f77b00;
}
.page-aanmelden .info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.page-aanmelden .success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.page-aanmelden .warning {
    background: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}


/* EURO SIGN PREFIX CONTRIBUTIONS */
.page-aanmelden .form-item-page-contribution-custom {
    position: relative; /* set parent relative */
}
span.field-prefix {
    position: absolute; /* absolute on parent */
    z-index: 999;
    padding: 16px 0 16px 16px;
}
.page-aanmelden .form-item-page-contribution-custom input {
    padding-left: 32px!important; /* extra padding for prefix */
}
#memberform_form_wrapper div.form-type-radio {
  display: inline-block;
}
#memberform_form_wrapper input[type="radio"] {
  display: none;
}

#memberform_form_wrapper label.option {
  padding: 12px;
  border: 1px solid #ddd;
  cursor: pointer;
  overflow-wrap: break-word;
}

#memberform_form_wrapper label.option img {
  float: left;
  margin-right: 1rem;
}

#memberform_form_wrapper label.option span {
  vertical-align: top;
}

#memberform_form_wrapper input[type="radio"]:checked+label,
#memberform_form_wrapper input[type="radio"]:hover+label {
    background: #f60000;
    color: #fff;
}

#memberform_form_wrapper .introduction p {
    margin: 1em auto 0 auto;
    padding: 0;
    font-size: 16px!important;
    color: #333;
}

/* MEMBERFORM NAVIGATION */
.memberform-navigation {
    text-align: center;
}
.memberform-navigation .active.form-submit.form-button-disabled {
  color: #222;
}
.memberform-navigation .form-submit {
    font-family: "HelveticaNeueLTStd-Md", "Helvetica Neue", Helvetica, "Roboto Sans", "Segoe UI", Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    text-transform: none;
    background: none;
    margin-right: 0;
    padding: 4px;
    color: #222;
    border: none; /* removes default from forms.css */
    border-bottom: 3px solid #ddd;
}
@media screen and (min-width: 870px){
    .memberform-navigation .form-submit {
         padding: 0.5rem 1rem;
    }
}
.memberform-navigation .form-submit:hover {
    border: none; /* removes default from forms.scss */
    border-bottom: 3px solid #f60000;
    background: #f60000;
    color: #fff!important;
}
.memberform-navigation .form-submit.active {
    border-bottom: 3px solid #f60000;
}
.memberform-navigation .form-button-disabled {
    color: #ddd;
}
.memberform-navigation .form-button-disabled:hover {
    border: none;
    border-bottom: 3px solid #ddd;
    background: #fff;
    color: #ddd!important;
}
/* MEMBERFORM INPUT */
#memberform_form_wrapper input::placeholder {
    color: #ccc; /* should be styled in form default */
}
#memberform_form_wrapper .form-item-page-red-membership input[type="radio"] {
    display: inline-block!important;
}
#memberform_form_wrapper .form-item-page-red-membership label.option {
    border: none;
    padding: 4px;
}
@media screen and (max-width: 360px){
    #memberform_form_wrapper .form-item-page-red-membership label.option {
        max-width: 280px;
    }
}
#memberform_form_wrapper div.form-type-radio.form-item-page-gift-select-lid-sp {
    display: block;
}
#memberform_form_wrapper .form-item-page-gift-select-lid-sp label.option {
    width: 100%;
    box-sizing: border-box;
}
#memberform_form_wrapper table th {
    border-bottom: 2px solid #ddd;
    padding-top: 1rem;
}
/* MEMBERFORM ACTION */
.memberform-action {
    max-width: 480px;
    margin: 0 auto;
    padding: 0!important; /* overwrite default spnet theme */
}
.memberform-action input[type="submit"],
.memberform-action .btn{
    padding: 1rem 2rem;
    margin-top: 1rem;
    margin-right: 0;
    min-width: 140px;
}
.memberform-action .btn.hollow {
    background: #fff;
    color: #ec1b23;
}
.memberform-action .btn.previous {
    margin-right: 1em;
}
.btn.do-call-back {
  padding: 1rem 2rem;
  margin: 4rem 0;
  font-size: 1.4rem;
}

#memberform_form_wrapper .memberform-inform-button {
  text-align: center;
}
/* MEMBERFORM CALL BACK OR CONTINUE */
#edit-action,
#edit-action--2 {
    text-align: center;
    max-width: 100%;
}
.memberform-action #edit-call-back,
.memberform-action #edit-call-back--2,
.memberform-action #edit-next-page
.memberform-action #edit-next-page--2, {
    max-width: 329px;
    width: 100%;
}


@media only screen and (max-width: 768px) {
    .page-aanmelden .primary-content {
      padding-top: 0;
    }
    .page-aanmelden .site-navigation {
      display: none;
    }
    .page-aanmelden form h3 {
      font-size: 1rem;
    }
    .page-aanmelden .form-item .form-text {
      padding: .6rem .4rem .4rem .4rem;
    }
    .page-aanmelden .site-logo a {
      height: 32px !important;
      width: 60px !important;
    }
    .page-aanmelden form fieldset {
      padding: 0 .72em 0 .72em !important;
    }
    .page-aanmelden .memberform-navigation {
      padding: 0;
      margin: 0 0 1em 0;

    }
    .page-aanmelden .memberform-navigation .form-submit {
      margin: 2px;
      font-size: 14px;
      background: #fff;
    }
    .page-aanmelden-lid .content-header .title:before {
      content: 'T';
      font-family: 'SPnet-icons';
      display: inline-block; 
      padding: 0;
      margin-right: .5rem;
      font-size: 1.6em;
      line-height: 0;
      vertical-align: -6px;
    }
    .page-aanmelden .site-header {
      display: none;
    }

}


/* LEGACY SPNET AANMELDEN */
.page-aanmelden .content-header .title {
  color: $color1;
  text-align: center;
}

.page-aanmelden .site-navigation a {
  color: #f1f1f1;
}

.page-aanmelden .main-top-wrapper {
  display: none;
}

/* Form */
.page-aanmelden .spaanmelden-progress ul {
  list-style: none;
  padding: 0;
}

.page-aanmelden form .step-title {
  color: $color1;
  font-size: 1.14em;
  margin: 0;
  padding: 0;
}

.page-aanmelden form {
  padding: 0 1.4em;
}

.page-aanmelden form fieldset {
  border: none;
  border-bottom: 3px solid #f1f1f1;
  padding: 0 .72em 2.1em .72em;
  overflow: hidden;
}

.page-aanmelden form fieldset:last-of-type {
  border-bottom: none;
}

.page-aanmelden form legend {
  margin: 0;
  padding: 0;
  font-family: $font-middle;
}

.page-aanmelden form label {
  display: inline-block;
}

/* SP-lid aanmelden specifics */
#spaanmelden-form-lid .form-item-personal-information-middlename input {
  width: 80px;
}

#edit-personal-information-gender {
  padding: .4em;
}

#spaanmelden-form-lid .form-item-personal-information-gender .form-type-radio {
  display: inline-block;
  padding: 1em;
}

#spaanmelden-form-lid .form-item-personal-information-gender .form-item label {
  width: 40%;
}

#spaanmelden-form-lid .form-item-personal-information-birthdate label {
  display: block;
  width: 960px;
}

#spaanmelden-form-lid .form-item-personal-information-birthdate .form-item {
  margin-right: .4em;
}

#spaanmelden-form-lid .form-item-personal-information-birthdate .form-item label {
  width: 75px;
  font-size: .9em;
  color: #aaa;
}

#spaanmelden-form-lid .form-item-personal-information-birthdate .form-item select {
  width: 100%;
}

#spaanmelden-form-lid [class*="form-item-personal-information-"] label {
  width: 120px;
  display: inline-block;
}

#spaanmelden-form-lid [class*="form-item-contact-"] label,
#spaanmelden-form-lid [class*="form-item-address-"] label {
  width: 172px;
  display: inline-block;
}

#spaanmelden-form-lid .form-item-personal-information-birthdate label {
  display: block;
  padding-bottom: .4em;
}

#spaanmelden-form-lid .form-item-address-zipcode input {
  width: 120px;
}

#spaanmelden-form-lid .form-item-rood-rood label {
  width: 50%;
}

#spaanmelden-form-lid .form-disabled input {
  border: 1px dashed #aaa;
  background: #fff;
}

#spaanmelden-form-lid th {
  text-align: left;
  padding-right: 1em;
  width: 180px;
}

#spaanmelden-form-lid td {
  vertical-align: top;
}

/* NEW */
.page-aanmelden form,
.page-aanmelden header.content-header { 
  max-width: 960px; //needs to be fixed with grid
  margin: 0 auto;
}
.page-aanmelden-lid .site-logo a {
    display: block;
    width: 150px; //cuts off spnet logo
    height: 84px;
    overflow: hidden;
}
// END SHAME
