/* SPnet PANELS LEGACY */
.directions .content-width {
	height: auto;
	max-width: 960px;
	width: 70%;
	display: block;
	margin: 0 auto;
	padding: 0 4%;
	border: none;
	border-bottom: .4em solid #ddd;
	text-align: center;
	background: #eee;
}

/* Pane variants */
.page-node .pane-node-body .body {
	max-width: 100%;
}

// HIGLIGHTED
.directions .highlight {
	background: #eee;
}
.directions .highlight .primary-action {
	background: #000;
	color: #fff;
}
.pane-node-terms .pane-content {
	max-width: 960px;
	margin: 0 auto;
	font-family: $font-middle;
	color: #aaa;
	padding: 0;
	text-transform: uppercase;
}

.directions .view-footer {
	font-size: .8em;
	padding: .72em 0;
}


// MEDIA
@media only screen and (max-width:728px) {
	.pane-node-terms .pane-content {
		padding: 0 1.4em;
	}
}