/* TABS */
.tabs {
  width: 100%;
  border-bottom: 1px solid #DDD;
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.tabs ul {
  margin: 0;
  padding: 0;
  display: inline;
}
.tabs li {
  display: inline-block;
  //padding: 0;
}
.tabs li a {
  color: #333;
  background: #DDD;
  padding: .2rem .5rem;
  text-decoration: none;
  display: inline-block;
  font-size: .8rem;
}
.tabs li a:hover {
  background: #000;
  color: #fff;
}
.tabs li.active {
  display: none;
}

// BOTTOM TABS (user login page)
.bottom-tabs .tabs {
	border-top: 1px solid #DDD;
	border-bottom: none;
	padding: 0;
	margin-top: 2rem;
	text-align: center;
}
.bottom-tabs .tabs ul {
	margin: 2rem 0 0 0;
	padding: 0;
	text-align: center;
}
.bottom-tabs .tabs li a {
	color: $color1;
	background: none; //overwrite
	padding: .5rem 1rem;
	&:hover {
		background: #000;
		color: #FFF;
	}
}