/* USER */
.quicklinks-content {
  float: right;
}

.page-wrapper.login-page:after {
  bottom: 0;
}

.front .site-navigation .active {
  color: #F1F1F1;
}

.front .site-navigation:hover .active {
  color: $color1;
}


// NEW USER
.page-user-new .content-header .title {
  font-size: 1rem;
  color: #AAA;
}

.page-user-new form h3 {
  font-size: 2.7em;
  margin: 0;
}

// EDIT USER
.page-user-me-edit .site-footer .active-trail.active {
  display: none;
}

// USER EDIT PAGE
.page-user-edit .site-footer a[href="/user/me/edit"] {
  display: none;
}

.page-user-edit .password-indicator,
.page-user-edit .password-strength-title {
  display: none;
}

.page-user-edit .password-confirm .error {
  background: $color1;
  padding: .4em .72em;
  color: #fff;
}

.page-user-edit div.password-confirm {
  padding: .4em 0 1em;
}

.page-user-edit .password-confirm .ok {
  background: #5f7;
  padding: .4em .72em;
  color: #333;
}

// USER LOGIN & FORGOTTEN/CHANGE PASW
.user-container {
	max-width: 500px;
	margin: 0 auto;
	padding: 1rem;
	background: #FFF;
}
@media screen and (min-width: 500px){
	.user-container {
		padding: 2rem 3rem;
	}
}
.user-container .form-actions {
  margin-top: 1rem;
  text-align: center;
}
