/* BASE */
html {
  color: #222;
  font-size: 1rem;
  line-height: 1.4;
  font-family: $font-body;
  height: 100%;
}

body {
  min-height: 100%; /* resize to full background */
}
p {
	margin: 0 0 1rem 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #CCC;
  margin: 2rem 0 1rem 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

textarea {
  resize: vertical;
}

h1,
h2,
h3 {
  font-family: $font-header;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 1rem;
}

strong {
  font-family: $font-strong;
  font-weight: normal;
}

em {
  font-family: $font-italic;
  font-style: normal;
}
a,
a:link,
a:visited {
  color: #222;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul {
  //padding-left: 1rem;
}

blockquote {
  text-align: center;
  font-family: $font-middle;
  font-size: 1.4em;
}

blockquote:first-child:before {
  content: '\201c';
  color: #333;
  display: inline-block;
  padding-right: .4em;
}

blockquote:last-child:after {
  content: '\201d';
  color: #333;
  display: inline-block;
  padding-left: .4em;
}

code {
  background: #EEE;
  padding: .5rem 1.5rem;
  border: 1px solid #DDD;
}

table {
  border-collapse: collapse; // Prevent double borders
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav li a {
  display: inline-block;
}