/* VARIABLES */
$font-header: HelveticaInseratLTPro, sans-serif;
$font-middle: "HelveticaNeueLTStd-BdCn";
//$font-body: "HelveticaNeueLT-Light", "Helvetica Neue", Helvetica, "Roboto Sans", "Segoe UI", Arial, "Lucida Grande", sans-serif;
$font-body: "FreeSans", sans-serif;